exportPattern("^[[:alpha:]]+")
import(tables)
S3method(print, MMI)
S3method(print, SPMI)
S3method(print, genloglin)
S3method(print, summary.genloglin)
S3method(print, anova.genloglin)
S3method(print, predict.genloglin)
S3method(summary, genloglin)
S3method(residuals, genloglin)
S3method(anova, genloglin)
S3method(predict, genloglin)
